.deck {
  background-color: #b15f20;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #432E1E;
  width: 480px;
  height: 200px;
  padding: 50px;
  margin: 20px;

  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 120px;
  background: url(../images/1.png);
  background-position: 50% 50%;
  background-size: cover;
}