:root {
    
    
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--background-color);
  margin: 1em;
  font-size: 16px;
}



h1 {
    font-size: 2.5em;
}

.column-demo-holder {
  border: 1px solid var(--dark-color);
  padding: 1em;
  margin-bottom: 1em;
  overflow: hidden;

  .column {
    width: calc(100%/3 - 2rem);
    aspect-ratio: 1;
    float: left;
    padding: 1rem;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    background-color: hsl(16, 100%, 66%);
    &:nth-child(even){
      background-color: hsl(16, 100%, 44%);;
    }
  }

  .masthead {
      margin: 1em;
      height: 100px;
      background-color: blue;
  }

  .side-nav {
      height: 60vh;
      width: calc(25% - 2rem);
      float: left;
      margin: 1em;
      background-color: rebeccapurple;
  }

  .article {
      height: 60vh;
      width: calc(75% - 2rem);
      float: left;
      margin: 1em;       
      background-color: red;
  }
  

}