:root {
  --background-color: #472f1d;
  --light-color: #E7DAA6;
  --dark-color: #261910; 
}

body {
  font-optical-sizing: auto;
  font-style: normal;
  border: 10px groove var(--dark-color);
  background-color: var(--background-color);
  margin: 1em;
  font-size: 18px;
 
}


h1 {
  font-size: 3em;
  font-weight: 300;
  font-family: "Kodchasan", sans-serif;
}

h2,summary {
  text-decoration: none;
  font-family: "Kodchasan", sans-serif;
  font-size: 2em;
  font-weight: 250;
  color: var(--light-color);
  transition: all 0.3s ease 0s;
  list-style-type: none;
}

summary:hover {
color: #755832;
cursor: default;
}


p {
  font-family: "Koh Santepheap", serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--light-color);
  text-indent: 2%;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto
}

details {
  width: 100%;
}

 
masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--dark-color);
  color: var(--light-color);
  margin-bottom: 1em;
}

masthead h1 {
  font-weight: 600;
  text-transform: uppercase;
}

.post {
  margin-bottom: 1em;
  p {
    margin-top: 0;
  }
}

img {
  width: 8rem;
  height: auto;
  display: block;
  margin-right: 1em;
  margin-left: 15%;
}
